In [1]:
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [2]:
import pandas as pd
import numpy as np

In [3]:
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [4]:
fuel_data.groupby('fuel_cost_per_unit_burned')['fuel_cost_per_unit_burned'].count()

fuel_cost_per_unit_burned
-276.080       1
-174.670       1
-123.310       1
-119.040       1
-85.760        1
              ..
 65137.588     1
 69785.215     1
 80459.000     1
 83538.000     1
 139358.000    1
Name: fuel_cost_per_unit_burned, Length: 19416, dtype: int64

In [5]:
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2001_12_134_2_9,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [6]:
fuel_data.groupby('fuel_cost_per_unit_burned').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_unit_burned,,,,,,,,,,
-276.080,f1_fuel_2000_12_194_3_3,194,2000,nelson dewey unit 2,waste,ton,39.0,0.015500,-174.670,-8.906
-174.670,f1_fuel_2000_12_194_3_6,194,2000,nelson dewey u 1&2,waste,ton,116.0,0.015500,-174.670,-5.635
-123.310,f1_fuel_2000_12_194_2_15,194,2000,nelson dewey unit 1,waste,ton,77.0,0.015500,-174.670,-3.978
-119.040,f1_fuel_2003_12_281_1_4,281,2003,sixth street (cont),other,ton,1159.0,0.012731,-118.340,-5.750
-85.760,f1_fuel_1995_12_194_5_9,194,1995,rock river unit 1,waste,ton,6072.0,0.013457,-85.640,-3.186
...,...,...,...,...,...,...,...,...,...,...
65137.588,f1_fuel_2012_12_7_7_13,7,2012,palo verde 2,nuclear,kgU,465.0,0.066706,2958.417,0.976
69785.215,f1_fuel_2011_12_7_7_13,7,2011,palo verde 2,nuclear,kgU,467.0,0.066704,2834.457,1.046
80459.000,f1_fuel_2014_12_177_2_7,177,2014,howard bend c.t.,oil,bbl,76.0,5.984286,0.000,13.445
83538.000,f1_fuel_2011_12_132_1_2,132,2011,solway,oil,bbl,150.0,5.880000,137.172,14.207
139358.000,f1_fuel_2014_12_147_0_2,147,2014,san juan,oil,bbl,49418.0,6.172572,136410.000,22.577

In [7]:
import scipy.stats as stats

In [14]:
kurtosis_scipy = stats.kurtosis(fuel_data)
kurtosis_pandas = pd.DataFrame(fuel_data).kurtosis('fuel_cost_per_unit_burned')[1]

TypeError: cannot perform reduce with flexible type

In [ ]:
print(kurtosis_scipy, kurtosis_pandas)

In [13]:
pd.DataFrame(fuel_data).kurtosis('fuel_cost_per_unit_burned')

ValueError: No axis named fuel_cost_per_unit_burned for object type <class 'pandas.core.frame.DataFrame'>

In [15]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [17]:
percent_missing = fuel_data.isnull().sum() * 100 / len(fuel_data)

In [19]:
print(percent_missing)

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

In [22]:
corr, _ = fuel_data(record_id , fuel_cost_per_unit_burned)
print('Pearsons correlation: %.3f' % corr)

TypeError: 'DataFrame' object is not callable

In [28]:
fuel_data.groupby('fuel_cost_per_unit_burned').{'fuel_type_code_pudl': ['coal']}
change_percent = ((float(current)-previous)/previous)*100

SyntaxError: invalid syntax (<ipython-input-28-21d4872885ea>, line 1)

In [27]:
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [32]:
fcpud = pd.DataFrame(fuel_data, fuel_cost_per_unit_delivered)
max_value = max(fuel_cost_per_unit_delivered)

NameError: name 'fuel_cost_per_unit_delivered' is not defined